main {
  padding: var(--padding-medium);

  h1 {
    font-size: var(--font-size-large);
    margin-bottom: var(--padding-medium);
  }

  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--padding-medium);

    .product {
      background-color: var(--secondary-color);
      border-radius: var(--border-radius);
      padding: var(--padding-medium);
      box-shadow: var(--box-shadow);

      img {
        width: 100%;
        border-radius: calc(var(--border-radius) / 2);
        margin-bottom: var(--padding-small);
      }

      h3 {
        font-size: var(--font-size-medium);
      }

      p {
        font-size: var(--font-size-small);
        font-weight: bold;
        color: var(--primary-color);
      }
    }
  }
}